@import url("https://fonts.googleapis.com/css2?family=Iceland&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kavoon&display=swap");
* {
  margin: 0;
  padding: 0;
}

.time {
  text-align: center;
}

body {
  background-image: linear-gradient(45deg, #CC22ED, #5FFAE0);
  width: 100vw;
  height: 100vh;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.text {
  font-family: "Kavoon", cursive;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
}

.printed {
  color: rgb(96, 96, 96);
}

.row {
  display: grid;
  width: 1000px;
  justify-content: space-between;
  gap: 5px;
}

.row1 {
  grid-template-columns: repeat(13, 1fr) 2fr;
}

.row2 {
  grid-template-columns: 0.7fr repeat(12, 0.5fr) 0.6fr;
}

.row3 {
  grid-template-columns: 1.2fr repeat(11, 0.5fr) 1fr;
}

.row4 {
  grid-template-columns: 1.2fr repeat(10, 0.5fr) 1.7fr;
}

.row5 {
  grid-template-columns: repeat(3, 1fr) 5fr repeat(4, 1fr);
}

.keyboard {
  flex: 1 0 auto;
}

.buttons {
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  margin: 0 auto;
}

.button {
  font-family: "Iceland", cursive;
  text-align: center;
  font-size: 25px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px 0;
}

.red {
  background-color: rgb(255, 54, 54);
}

.yellow {
  background-color: rgb(255, 255, 53);
}

.green {
  background-color: rgb(55, 255, 55);
}

.blue {
  background-color: rgb(83, 83, 255);
}

.pink {
  background-color: rgb(255, 141, 160);
}

.white {
  background-color: white;
}

.active {
  color: white;
  background-color: black;
}

@media (max-width: 1200px) {
  .body {
    width: 100%;
    padding: 10px;
  }
}