.row1 {
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(15, 1fr);
}

.button {
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}