* {
    margin: 0;
    padding: 0;
}

.time {
    text-align: center;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.row1 {
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(15, 1fr);
}

.button {
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}

.active {
    background-color: red;
}

@media (max-width: 1200px) {
    .body {
        width: 100%;
        padding: 10px;
    }
}